body {
   /* display: none; */
   /* background-color: #d1e06f!important; */
}


a:hover {
   text-decoration: #fff !important;
}

.bg--white{
   background-color: #fff!important;
}

.bg--gray{
   background-color: #333;
}
.product-block {
   background: transparent !important;
}

/* Utitlity Classes */

/* Hide Elements */
.mobile--only {
   display: none !important;
}

#content{
   padding-top:4rem!important;
}

/* main slider */




/* Typography */
.font--bold {
   font-weight: 600 !important;
}

.font--large {
   font-size: 2.2rem;
}

/* Color CLasses */
.text--white {
   color: #fff !important;
}

/* margin and padding classes */
.m--0{
   margin:0!important;
}

.my--0 {
   margin-top: 0px;
}
.my--p5{
   margin-top:0.2rem!important;
   margin-bottom:0.2rem!important;
}
.my--1 {
   margin-top: 1rem !important;
}
.m-2 {
   margin-bottom: 2rem !important;
}
.py--0 {
   padding-top: 0 !important;
}
.py--4{
   padding-top:4rem!important;
}
.p-2 {
   padding: 2rem !important;
}
.p-4 {
   padding: 4rem !important;
}
.px-1 {
   padding-left: 1rem;
   padding-right: 1rem;
}

.px-4 {
   padding-left: 4rem;
   padding-right: 4rem;
}

.py-1 {
   padding-bottom: 1rem;
}
.py-2 {
   padding-bottom: 2rem;
}

.lh--1{
   line-height: 1rem!important;
}
.lh--3{
   line-height: 3rem!important;
}

/* Margin and padding classes ends here */





/* flex classes starts here */

.custom_section {
   display: flex !important;
   justify-content: center;
}
/* product  main container*/

#product-product{
   overflow-x: hidden;
}

/* product info section */
.product--flex {
   overflow-x: hidden!important;

   /* width:90vw; */
   display: flex;
   justify-content: center;
}

.product--flex .c--product--info {
   
   flex: 2;
   padding: 2rem 8rem !important;
}
.product--flex .image .thumbnail img {
   width: 400px;
   height: 400px;
}
.c--product--info .form-group {
   display: flex;
}
.c--product--info .form-group .form-control {
   width: 10%;
   margin-right: 10px;
}
.c--product--info .form-group .add--to--cart--button {
   padding: 8px 30px 9px;
   background-color: rgb(15, 14, 14);
   border-color: rgb(15, 14, 14);
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   -moz-border-radius: 5px;
   font-size: 15px;
   color: #ffffff;
   min-width: 180px;
}
.c--product--info .wish_comp .add--to--wishlist,
.c--product--info .wish_comp .add--to--compare {
   color: #333333;
   font-size: 14px;
   display: inline-block;
   padding: 5px 15px 5px 0;
   text-align: left;
   width: auto;
   transition: none;
   height: auto;
   background: none;
   border: 0;
   /* background-color: white!important; */
}

.c--product--info .wish_comp .add--to--wishlist::before {
   content: '\f08a';
   font-family: 'FontAwesome';
   font-size: 17px;
   text-align: center;
   line-height: 34px;
   display: inline-block;
   color: #000;
   padding: 0;
   font-weight: 400;
   margin-right: 3px;
}
.c--product--info .wish_comp .add--to--compare::before {
   content: '\f24d';
   display: inline-block;
   font-family: 'FontAwesome';
   padding: 2px 0px;
   font-size: 17px;
   color: #000;
   font-weight: 400;
   margin-right: 5px;
}

.c--product--info .addthis_toolbox {
   margin-top: 1rem !important;
}

body {
   margin: 0;
   padding: 0;
   /* font-family: 'Lato', sans-serif; */
   /* font-size: 100%; */
   box-sizing: border-box;
   /* text-align: center; */
}

/* bootstrap.min.css -- main theme custom changes */

.header-main,
.box,
.header-top-inner,
.service_container,
.block,
.czbanners,
.banners-slider-carousel,.product-tab,.single-blog,.all-blog {
   padding-left: 3rem !important;
   padding-right: 3rem !important;
}
.box{
   padding-top:2rem!important;
}
.czbanner_container {
   display: flex !important;
   justify-content: center;
}

.footer-blocks {
   padding-left: 3rem !important;
   padding-right: 3rem !important;
}



/* Home Single Banner Image */
.home--product--image {
   height: 85vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url(https://cdn.shopify.com/s/files/1/0108/8867/5428/t/17/assets/ae15c8a510f1--WhatsApp-Image-2020-09-29-at-2.13.52-PM-1.jpeg?v=1623282008);
   background-size: cover;
   background-position: center;
}

/* Home Testimonials */
#testimonial-carousel .description,
#testimonial-carousel .name {
   color: white !important;
   
}
#testimonial-carousel,.testimonial-area,
#cztestimonialcmsblock{
   background-color: #333!important;
}

#testimonial-carousel .testimonial-image{
   display: none!important;
}
#testimonial-carousel .testimonial-detail{
   margin-left:0!important;
   text-align:center!important;
}
#testimonial-carousel .testimonial-detail .quote_img{
   display: none!important;
}
#testimonial-carousel .testimonial-detail .description{
   padding:0!important;
}
#testimonial-carousel .testimonial-detail h2{
   color:#fff!important;
}

/* About us Page */

.c--info{
   margin-top:1rem;
   display: flex!important;
   /* justify-content: space-between; */
   align-items: center;
}

.c--info img{
   /* padding-left:3rem;
   padding-right:3rem; */
   margin-left: 6rem;
   margin-right: 6rem;
}
.c--info .c--description{
   margin-left:5rem;
   flex:2;
}
/* All blogs page */
.c--blogs-grid{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1rem;
}
/* products styling starts here */

.walnut--header {
   height: 65vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../image/almond--story.png); */
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url(../image/almond--story.png);
   background-size: cover;
   /* background-position: top; */
   /* position: relative; */
}
.product--header {
   display: flex;
   align-items: center;
   justify-content: center!important;
   
   height: 65vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../image/almond--story.png); */
   background-color: #333;
   background-size: cover;
   /* background-position: top; */
   /* position: relative; */
}
.product--header .left--img,
.product--header .right--img {
   flex: 1;
}

.product--header--content {
   height: 65vh;
   flex: 3;
   padding:1rem;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../image/almond--story.png); */
   /* background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),url(../image/almond--story.png); */
   background-size: cover;
   /* background-position: top; */
   /* position: relative; */
}
.saffron--header {
   height: 65vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../image/almond--story.png); */
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url(../image/almond--story.png);
   background-size: cover;
   /* background-position: top; */
   /* position: relative; */
}
.honey--header {
   height: 70vh;
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url(../image/almond--story.png); */
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
      url(../image/almond--story.png);
   background-size: cover;
   /* background-position: top; */
   /* position: relative; */
}

.page--heading {
   /* color: #aaa; */
   font-size: 24px;
   /* position: relative;
   top: 30%;
   width: 70%; */
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center !important;
   text-align: center;
   height: 100%;
}
.page--heading--primary {
   color: blueviolet !important;
}

.page--heading .page--heading--secondary {
   color: blanchedalmond !important;
   line-height: 3.6rem !important;
}
.page--heading .name {
   color: blanchedalmond !important;
}

/* ------------------------------------- */
.c--flex {
   display: flex;
   margin-top: 1rem;
   padding: 2.5rem !important;
   background-color: #333;
   color: white !important;
   align-items: center!important;
}

.c--flex-text {
   /* margin: auto auto; */
   /* margin-top:-10rem!important; */
   /* width: 40vw; */
   padding-left: 0.5rem !important;
   padding-right: 5rem;
   letter-spacing: 0.05em;
}
.c--flex-img {
   display: inline-block;
   padding-left: 2rem;
   /* width: 40vw; */
   /* margin: auto auto; */
}
.c--flex h2 {
   color: white;
}
.almond--full-width-img {
   margin-top: 2rem;
   height: 85vh;
   background-image: url(../image/apricots/1.png);
   background-size: cover;
   background-position: center;
}
.walnut--full-width-img {
   /* margin-top: 2rem; */
   height: 85vh;
   background-image: url(../image/walnuts/1.jpg);
   background-size: cover;
   background-position: bottom;
}
.saffron--full-width-img {
   /* margin-top: 2rem; */
   height: 85vh;
   background-image: url(https://cdn.shopify.com/s/files/1/0108/8867/5428/t/17/assets/ae15c8a510f1--WhatsApp-Image-2020-09-29-at-2.13.52-PM-1.jpeg?v=1623282008);
   background-size: cover;
   background-position: center;
}
.honey--full-width-img {
   /* margin-top: 1rem; */
   
   height: 85vh;
   /* background-image: url(../image/honey/1.jpg); */
   background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)),
         url(../image/honey/1.jpg);
   
   background-size: cover;
   background-position: bottom;
}
.morels--full-width-img {
   /* margin-top: 1rem; */
   
   height: 85vh;
   background-image: url(../image/morels/1.jpg);
   background-size: cover;
   background-position: bottom;
}
/* Product Story Section */
.product--story {
   display: flex;
   /* margin-top: 1rem; */
   padding: 2.5rem !important;
   justify-content: space-around;
   color: white !important;
   align-items: center!important;
}

.product--story{
   display: flex;
}
.personal--story img{
   margin:3rem 3rem;
}

.personal--story h3{
   margin:3rem 3rem;
}


/* Products Map Section Starts Here */

.product--map--section{
   display: flex;
   flex:1;
   padding:3rem;
   align-items: center;
}
.product--map--info{
   /* padding:2rem; */
   color:#fff;
   margin:3rem 3rem;
}
.product--map--info *{
   color:#fff;
}
.product--map--info img{
   padding:2rem;
}


/* Info Pages */
#information-information{
   /* padding-left:2rem!important;
   padding-right:2rem!important; */
   padding:5rem 2rem!important;
   /* margin-top:5rem!important; */
}



/* Mobile Styling Starts Here */

@media only screen and (max-width: 600px) {
   /* utility Classes */

   /* hide Elements  */
   .desktop--only {
      display: none !important;
   }

   .mobile--only {
      display: block !important;
   }
   /* flex Clases  */

   .m--flex--column {
      display: flex;
      flex-direction: column !important;
      justify-content: center;
   }
   
   .c--flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 3rem 8px !important;
      margin: 0 !important;
   }
   /* All pages */

   #content{
      padding-top:4rem!important;
   }
   /* Header */
   /* .header-main{
      padding-left:2.5rem!important;
      padding-right:2.5rem!important;
   } */
   .logo .logo-header{
      max-width: 115!important;
   }
   /* footer */
   .footer-blocks{
      padding-top:3rem!important;
   }
   /* home page */

   /* Home Testimonials */
   .testimonial-item{
      padding-top:3.5rem!important;
   }
   .testimonial-area{
      padding-top:4rem!important;
   }
   #testimonial-carousel .description,
   h2 {
      font-size:1.5rem!important;
      
   }

   /* home Pages Banners */
   #czbannercmsblock{
      display: none!important;
   }
   .cmsbanner img{
      display: none!important;
   };
   .cmsbanner{
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
         url(../image/almond--story.png);
         z-index: 999;
   } 

   /* info pages */
   /* about */

   .c--info{
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .c--flex-text {
      /* width: 80vw; */

      padding: 2.5rem !important;
   }
   .c--flex-img {
      padding: 2rem;
   }
   /* all blogs  */

   .c--blogs-grid{
      grid-template-columns: 1fr;
   grid-gap:1rem;
   }
   /* Product Testimonial */

   .product--header--content .page--heading--primary {
      width: 100%!important;
   }

   .product--story {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 3rem 8px !important;
      margin: 0 !important;
   }
   .product--map--section{
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .product--flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow-x: hidden!important;

      /* flex-direction: row-reverse!important; */
   }
   .product--flex :nth-child(1) {
      order: 2;
   }
   .product--flex :nth-child(2) {
      order: 1;
   }
   .product--flex :nth-child(3) {
      order: 4;
   }

   .product--flex #additional-carousel {
      display: flex !important;
   }
   .product--flex .c--product--info {
      flex: 2;
      padding: 1rem 1px !important;
      justify-content: flex-start;
   }

   .c--product--info .form-group {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
   }

   .c--product--info .form-group .form-control {
      width: 20%;
      margin-right: 10px;
   }

   /* product Custom Sections */

   .page--heading--secondary {
      font-size: 1.4rem !important;
   }
   .almond--header {
      height: 65vh;
      /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url("image/products/left-img.png"); */
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
         url(../image/almond--story.png);
      background-size: cover;
   }

   .product--header {
      display: flex;
      align-items: center;
      justify-content: center!;
      height: 65vh;
      background-color: #333;
      background-size: cover;
   }
   .product--header .left--img,
   .product--header .right--img {
      display: none;
   }

   .product--header--content {
      height: 65vh;
      flex: 3;
      background-size: cover;
   }
}

/* Dont forget to delete those styles */
.top_button {
   display: none !important;
}
/*  */

.img-responsive {
   width: 100vw !important;
}


@media (max-width: 479px){
.header-logo img {
    max-width: 125px;
}

}
/* width issies styles , need to reposition those */

/* .header-container {
   height: auto;
   width: 100%;
   overflow-x: hidden;

}
.header-container .row {
   margin: 0px;
}
.header-container.smaller {
   z-index: 999;
}*/
header{
   /* overflow-x: hidden!important; */
} 